html{
  background-color: #fdc57b;
  font-family: Montserrat;
}

form {
  animation: slide-up 0.4s ease;
}

#container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#home, form{
  min-width: 30em;
  align-self: flex-start;
  align-items: stretch;
}

/* map */
#mapContainer {
  width: 100%;
  margin: .5 auto;
  align-self: center;
}

#mapContaner * {
  width: 100%;
}

#map {
  width: 100%;
  border-radius: .3em;  
}

hr {
  color: #fbf2d5;
  border: 1.5px solid;
  border-radius: .2em;
}

.titulo {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: .2em 0 0 0;
}

/* Componentes Cabezera */

header {
  color: #394a51;
  margin: 0 auto;
  text-align: center;
}

a {
  padding: 0;
  margin: 0;
  font-size: 15px;
  display: block;
}

/* Componentes Formularios */

form, .block {
  background-color: #fbf2d5;
  margin: 1em 0;
  padding: 1em;
  border-radius: .5em;
  color: #394a51;
  min-width: 30em;
}

.block img {
  width: 10em;
}
input, .button, textarea {

  border: 2px solid #7fa99b;
  background-color: #7fa99b;
  border-radius: .2em;
  color: #394a51;
  font-family: Montserrat;
  font-weight: 900;
  height: 1.7em;
}

.post .button {
  background-color:#394a51;
  color:#fbf2d5;
  margin: 0.3em 0;
}

.button {
  cursor: pointer;
}

form > * {
  display: flex;
  margin: 0 0 1em 0;
  /*justify-content: center;*/
}

#user > img {
  position: relative;
  width: 8em;
  border-radius: 10%; 
  margin: 0 0 .3em 0;
}

input[type=text], input[type=password], input[type=email], input[type=file], textarea{
  margin: 0 10px ;
  padding: 2px;
  width: 100%;
  border: 2px solid #7fa99b;
  background-color: #7fa99b;
  border-radius: .2em;
  color: #394a51;
  font-family: Montserrat;
  font-weight: 900;
  box-shadow: none;
}

input[type=file] {
  overflow: hidden;
}

input[type=submit] {
  margin: 0;
}

input[type=submit]:active, .button:active{
  background-color: #fdc57b;
  border: 2px solid #fdc57b;
}

/* Validaciones */
input[type=email]:invalid:focus {
  border: 2px solid #b84444;
  outline: none;
}

input[type=email]:invalid {
  border: 2px solid #7fa99b;
}

input[type=email]:valid:focus {
  border: 2px solid #68c568;
  outline: none;
}

label > p {
  margin:0;
  width: 30%;
}


/* Navigation */

.flex {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

/* Perfil usuario */

#user {
  display: flex;
  flex-flow: column;
  align-items: center; 
}

#user > hr,.detalles  hr {
  width: 80%;
  margin: .7em auto;
  border: 2px solid #394a51;

}

/* posts */

#posts {
  flex-flow: column;
}

#posts > section  button {
  background-color: #394a51;
  color: #fbf2d5;
  margin: .2em 0;
}

.post {
  background-color: #7fa99b;
  border-radius: .2em;
  margin: .5em 0;
  padding: .2em .5em;
  width: calc(100% - 1em);
  display: flex;
  justify-content: space-between;
}

.post p {
  margin: .7em 0 .2em 0;
  align-self: center;
}

.post img {
  margin: 1em;
  align-self: center;
  border-radius: .2em;
}

.buttonConbutainer{
  margin: .5em 0;
}
/* home */

#home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.fixed { 
  position: fixed;
  /* temporal */
  height: auto;
}

.bottom {
  width: 100%;
  bottom: 0;
}

/* Chats */

.chat {
  background-color:#fdc57b;
  height: auto;
  width: 25%;
  border-radius: .2em;
  border: 4px solid #394a51;
  
}

.chat p {
  margin: 0;
  width: 60%;
  margin: .1em;
  padding: .2em;
  border-radius: .1em;
}

.chatHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .2em;
  background-color: #7fa99b;
}

.msgArea {
  background-color: #fbf2d5;
  overflow-y: scroll;
  display: flex;
  flex-flow: column;
  max-height: 20em;
}

.collapse {
  display: none !important; 
}

/* formulario chat */
.chat form {
  width: auto;
  min-width: 0;
  margin: 0;
  display: flex;
  padding: 0.2em;
  border-radius: 0;
}

.chat input {
  min-width: 0;
  margin: 0;
  height: 100%;
  padding: 0;
}

/* Mensajes */
.host{
  background-color: #fbf2d5;
  align-self: flex-end;
  background-color: aquamarine; 
}

.otherUser{
  background-color: #3eff004d
}

/* Detalles */
.detalles h3{
  text-align: center;
}

.detalles hr {
  width: 100%;
}

.detalles .buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.detalles_datos {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.asistentes {
  background-color: #394a51;
  border-radius: .2em;
  padding: .1em 0;
}

.asistentes a{
  color: #fbf2d5;
  margin: .3em;
}

.eventTitle {
  color: #394a51;
  text-decoration: none;
  transition: .4s all linear;
}

.eventTitle:hover {
  color: #394a5181;
}

.link {
  color: #fbf2d5;
  border: 2px solid #fbf2d5;
  border-radius: 3px;
  align-self: flex-start;
  display: inline;
  text-decoration: none;
  padding: .1em .2em;
  transition: .4s all linear;

}

.link:hover {
  border: 2px solid #fbf2d571;
}

#config {
  align-self: stretch;
  animation: slide-up 0.4s ease;
}

@keyframes slide-up {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.cuerpo {
  border: 2px solid #fbf2d54f;
  border-radius: 2px;
  box-sizing: border-box;
  padding: .2em;
  transition: all .2s linear;
}

.cuerpo:hover {
  background-color: #fbf2d54f;
}